@page
@model LoginModel

@{
    ViewData["Title"] = "Test SSO Application";
}

<div class="panel login center  m-auto">
    <div class="page-header text-center">
       Test SSO application
    </div>
    <div class="panel-body p-5">
        <form id="account" method="post">
            <p class="auth-label">
                <label asp-for="Input.Login" class="no-margin"></label>
                <input asp-for="Input.Login" class="form-control max-width" />
                <div class="text-center"><span asp-validation-for="Input.Login" class="text-danger"></span></div>
            </p>
            <p class="auth-label">
                <label asp-for="Input.Password" class="no-margin"></label>
                <input asp-for="Input.Password" class="form-control max-width" />
                <div class="text-center"><span asp-validation-for="Input.Password" class="text-danger"></span></div>
            </p>
            <div class="auth-label row">
                <div class="col-6">
                    <label asp-for="Input.RememberMe" class="no-margin">
                        <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
                </div>
                <div class="col-6 text-right">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="forgotpassword">Forgot your password?</a>
                </div>
            </div>
            <div class="text-center">
                    <button type="submit"
                            class="btn btn-default max-width">
                        Log in
                    </button>
                </div>
        </form>

        <section>
            <form method="post"
                  asp-page="./ExternalLogin"
                  asp-route-returnUrl="@Model.ReturnUrl"
                  class="form-horizontal w-100">
                <div>
                    @for (int i = 0; i < Model.Providers.Count; i++)
                    {
                        var provider = Model.Providers[i];
                        <div>
                            <button type="submit" class="btn max-width btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign-in with @provider.DisplayName</button>
                        </div>
                    }
                </div>
            </form>
        </section>
    </div>
    <div class="panel-footer text-center">
        <p>Please contact us via email if you need support.</p>
    </div>
</div>

@if (ModelState.ErrorCount > 0)
{
    <div tabindex="-1" class="wj-popup-backdrop"></div>
    <div class="wj-control wj-content wj-popup wj-state-focus wj-state-focused" tabindex="0" wj-directive-id="1">
        <div class="panel panel-default overflow">
            <div class="panel-heading"> Error </div>
            <div class="alert alert-danger">
                @foreach (var state in ModelState.Values)
                {
                    @foreach (var error in state.Errors)
                    {
                        <text>@error.ErrorMessage</text>

                        <br />
                    }
                }
            </div>
            <div class="text-right">
                <button class="btn btn-default mg-right-5 mr-2" id="btn-close-popup">Ok</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
